<div class="container" id="us-capitals-widget">
	<div class="alert alert-info alert-dismissible fade in text-sm-center" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Instructions:</strong> 
		Drag and drop the capitals to their corresponding states.
	</div>

	<div class="row text-sm-center" id="score">
		<div class="col-sm-6" id="correct-score">
			<h3 class="score-label">Correct</h3>
			<h4 id=correct></h4>
		</div>
		<div calss="col-sm-6" id="incorrect-score">
			<h3 class="score-label">Incorrect</h3>
			<h4 id="incorrect"></h4>
		</div>
	</div>

	<div class="row m-b-3" id="capital-pile"></div>

	<div class="row m-t-3 m-b-3 text-sm-center" id="game-status"></div>

	<div>
		<button id="reset" class="btn btn-success">Play Again</button>
		<button id="quit" class="btn btn-danger">Quit</button>
	</div>

	<div class="row" id="state-pile"></div>
</div>