<form id="theme">
	<input type="search" name="search" id="theme-key">
	<input type="submit" value="Submit Theme" id="theme-submit">
</form>

<div class="container clearfix">
    <p class="location"></p>
    <p class="temperature"></p>
    <div class="climate_bg"><%= image_tag("", class: "weathericon") %></div>
    	<div class="info_bg">
       		<%= image_tag("Droplet.svg", alt: 'Droplet', class: 'dropicon') %>
       		<p class="humidity"></p>

    		<%= image_tag("Wind.svg", alt: 'Wind', class: 'windicon') %>
      	<div class="windspeed"></div>
    </div>
</div>