.state { 
	border: 1px dotted white;
	height: 3em;
	padding-top: .5em;
	background-image: 
    repeating-linear-gradient(
      45deg,
      blue,
      #000080 10px,
      red 10px,
      #8b0000 20px 
    );
}

.capital {
	border: 1px solid black;
	height: 3em;
	padding-top: .5em;
	background-image: 
    repeating-linear-gradient(
      45deg,
      blue,
      #000080 10px,
      red 10px,
      #8b0000 20px 
    );
    opacity:0.7;
    z-index: 2;
}

.state-name {
	color: white;
}

.capital-name {
	color: white;
}

#us-capitals-widget {
	display: none;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 2em; 
}

#us-capitals-icon-container {
	position: absolute;
	top: 42%;
	right: 2%;
}

#game-status {
	display: none;
}

.score-label {
	color: gray;
}

#correct {
	color: green;
}

#incorrect {
	color: red;
}

.alert {
	display: block;
}